In [210]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
from rdb_functions import clean_list
from scrapy import Selector
import pandas as pd
import time

# Scraping title and text

In [211]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430
[WDM] - Driver [/Users/rafa/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [212]:
url='https://redplanetscience.com'
browser.visit(url)

In [213]:
html = browser.html
sel = Selector( text = html )

path='//*[@class="content_title"]'
titles=clean_list(sel.xpath(path).extract())
title=titles[0]
print(title)

path='//*[@class="article_teaser_body"]'
paragraphs=clean_list(sel.xpath(path).extract())
paragraph=paragraphs[0]
print(paragraph)

Q&amp;A with the Student Who Named Ingenuity, NASA's Mars Helicopter
As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.

# Getting Image url

In [44]:
url='https://spaceimages-mars.com/'
browser.visit(url)

html = browser.html
sel = Selector( text = html )

path='//*[@class="headerimage fade-in"]/@src'
images_source=sel.xpath(path).extract()
image_s=url+images_source[0]
print(image_s)

https://spaceimages-mars.com/image/featured/mars1.jpg

# Getting the table

In [65]:
url='https://galaxyfacts-mars.com/'
browser.visit(url)

In [69]:
html = browser.html
sel = Selector( text = html )

path='//*[@class="table table-striped"]/tbody'
table=sel.xpath(path).extract()

In [94]:
table = pd.read_html(html)
print(f'Total tables: {len(table)}')
table=table[0]

Total tables: 2

In [95]:
table.columns=table.iloc[0]
table.drop(table.index[0],inplace=True)
table.reset_index(inplace=True,drop=True)
table

0 Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [97]:
html_t = table.to_html()
#print(html_t)

In [209]:
html_t=html_t.replace("\n","")

# Getting images

In [145]:
url='https://marshemispheres.com/'
browser.visit(url)

In [121]:
html = browser.html
sel = Selector( text = html )

path='//div[@class="item"]/a/@href'
paths=sel.xpath(path).extract()

In [122]:
paths

['cerberus.html', 'schiaparelli.html', 'syrtis.html', 'valles.html']

In [146]:
path='//div[@class="description"]/a/h3'
titles_img=sel.xpath(path).extract()

In [148]:
titles_img=clean_list(titles_img)

In [189]:
full_img_urls=[]

for subpath in paths:
    time.sleep(3)
    url_img=url+subpath
    browser.visit(url_img)

    html = browser.html
    sel = Selector( text = html )

    path='//li/a/@href'
    sel.xpath(path).extract()
    full_img_url=sel.xpath(path).extract()[1]
    full_img_urls.append(url+full_img_url)

In [214]:
browser.quit()

In [194]:
hemisphere_image_urls=[]
for i in range(4):
    hemisphere_image_urls.append({'title':titles_img[i],'img_url':full_img_urls[i]})

In [197]:
scrape_mars={
    'title_news':title,
    'paragraph':paragraph,
    'image_url':image_s,
    'table':html_t,
    'images_url':hemisphere_image_urls
}